/*  Code Institute's Milestone Project 1: Build a Static Website. 
    Author: Alexis Van Espen. 
*/

/*  Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

/*  Initialize values for responsive layout. 
    Adapted from Clarissa Peterson's Responsive Layout course on LinkedIn Learning (https://www.linkedin.com/learning/responsive-layout/). 
*/
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 15px;
}

img {
	max-width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*  Create grid. */
#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid black;
    min-height: 1vh;
}

header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    border: 1px solid red;
    min-height: .2vh;
}

#banner {
    grid-column: 1 / 6;
    grid-row: 1;
    border: 1px solid pink;
}

nav {
    grid-column: 1 / 6;
    grid-row: 2;
    border: 1px solid orange;
}

#main-content {
    grid-column: 1 / 6;
    grid-row: 3 / 5;
    border: 1px solid blue;
    min-height: 0.6vh;
}

footer {
    grid-column: 1 / 6;
    grid-row: 6;
    border: 1px solid green;
    min-height: 0.2vh;
}

